.cities_card__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  flex-direction: row;
  margin: auto;
  align-items: center;
  margin-top: 150px;
  padding: 10px;
}
